// Colors

//Primary

$Soft_red: hsl(10, 79%, 65%);
$Cyan: hsl(186, 34%, 60%);

//Neutral

$Dark_brown: hsl(25, 47%, 15%);
$Medium_brown: hsl(28, 10%, 53%);
$Cream: hsl(27, 66%, 92%);
$Very_pale_orange: hsl(33, 100%, 98%);
$Soft_red-hover:#FF9B86;
$Cyan-hover:#B4E0E5;


//Typography

// Body Copy

$Font_size: 18px;

$maxMobile:"(max-width:412px)";
$minLarge:"(min-width:413px)";

